:root {
  --input-color: #5d647d;
  --clear-color: #c13232;
  --clear-completed-color: white;
  --clear-completed-background-color : #f98866;
  --clear-completed-background-hover : #ceb493;
  ---color: #c13232;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;
  --input-border-focus: #89da59;
  --group-color: white;
  --group-border: var(--input-border);
  --group-background: rgba(137, 218, 89, 0.55);
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #89da59;
  --tasks-background-color : #fff;
  --clear-all-background-color : #ff420e;
  --clear-all-color : #ffffff;
  --clear-all-background-hover : #FF420E99;
  --drop-place-border-color : grey;
  --remove-button-color : white;
  --remove-button-background-color : #ff420e;
  --remove-button-background-color-hover : #FF420E99;
  --drag-button-color : white;
  --drag-button-background-color : #80bd9e;
  --list-item-border-color : linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)

}
@font-face {
  font-family: LemonMilkRegular;
  src: url("../fonts/LemonMilkRegular.otf") format("opentype");
}

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
}
.form-field::-moz-placeholder {
  color: var(--input-placeholder);
}
.form-field:-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::placeholder {
  color: var(--input-placeholder);
}
.form-field:focus {
  outline: none;
  border-color: var(--input-border-focus);
}

.form-group {
  position: relative;
  display: flex;
  width: 100%;
}
.form-group > span,
.form-group .form-field {
  white-space: nowrap;
  display: block;
}

.form-group > span:first-child,
.form-group .form-field:first-child {
  border-radius: 6px 0 0 0;
}
.form-group .form-field:last-child {
  border-radius: 0 0 6px 0;
}
.form-group .form-field {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
}
.form-group > span {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: var(--group-color);
  background: var(--group-background);
  border: 1px solid var(--group-border);
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  border-radius: 0 0 6px 0;
  margin-left: -1px;
  cursor: pointer;

}
.form-group:focus-within > span {
  color: var(--group-color-focus);
  background: var(--group-background-focus);
  border-color: var(--group-border-focus);
}
*,
h1 {
  font-family: 'LemonMilkRegular', serif;
}
@media (min-width: 760px) {
  .tasks {
    width: 100%;
    min-width: 500px;
    max-width: 45rem;
    padding: 1em;
    margin: 1em auto;
    overflow: auto;
    background-color: var(--tasks-background-color);
    border-radius: 12px 0 12px 0;
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.25);
  }
}

.button-style {
  text-align: center;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 25px;
  border: 1px solid var(--group-border);
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  border-radius: 6px 0 6px 0;
  cursor: pointer;
}
.list-header {
  margin-bottom: 1rem;
}
@media (min-width: 525px) {
  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center
  }
}
.clear-all-color {
  background-color: var(--clear-all-background-color);
  color: var(--clear-all-color);
}
.clear-completed-color {
  background-color: var(--clear-completed-background-color);
  color: var(--clear-completed-color);
}
.clear-completed-color:hover {
  background-color: var(--clear-completed-background-hover);
}
.clear-all-color:hover {
  background-color: var(--clear-all-background-hover);
}

.list-group {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 4px
}

.list-group > span {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  margin-bottom: 4px;
}

.list-item {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid;
  border-image: linear-gradient(45deg, var(--drag-button-background-color) 50%, var(--remove-button-background-color) 50%) 2;
  background: var(--input-background);
  transition: border 0.3s ease;
  margin-bottom: 4px;
  margin-left: -2px;
  margin-right: -2px;
  cursor: pointer;
}

.completed {
  opacity: 70%;
}
.completed > .list-item {
  text-decoration: line-through;
}

.drop-place {
  padding-bottom: 4px;
  padding-top: 4px;
  border-bottom: 3px var(--drop-place-border-color) dashed;
  border-top: 3px var(--drop-place-border-color) dashed;
}

.remove-button {
  color: var(--remove-button-color);
  background: var(--remove-button-background-color);
  border: 1px solid var(--remove-button-background-color);
  border-radius: 0 0 6px 0;
  cursor: pointer;
}

.list-group > .remove-button:hover {
  background-color: var(--remove-button-background-color-hover);
  opacity: 70%;
}
.drag-button {
  color: var(--drag-button-color);
  background: var(--drag-button-background-color);
  border-radius: 6px 0 0 0;
  cursor: move;
}


